
process {

    errorStrategy = { task.exitStatus in ((130..145) + 104 + 255) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'
    
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) } 
    time   = { check_max( 4.h  * task.attempt, 'time'   ) } 

    withLabel:process_medium {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
    }
}

